//- Preloader
	@param {object} data - preloader data object
mixin preloader( data )
	// Preloader
	.preloader
		.preloader-inner
			.preloader-dot
			.preloader-dot
			.preloader-dot
			.preloader-dot
