Anpero/obj/Debug/
Anpero/bin/
AnperoWeb/obj/
Anpero/obj/Release/
AnperoFrontend/obj/Release/
AnperoFrontend/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AnperoFrontend/obj/Debug/AnperoFrontend.pdb
AnperoFrontend/obj/Debug/AnperoFrontend.dll
AnperoFrontend/obj/Debug/AnperoFrontend.csprojResolveAssemblyReference.cache
AnperoFrontend/obj/Debug/AnperoFrontend.csproj.FileListAbsolute.txt
AnperoFrontend/bin/AnperoFrontend.pdb
AnperoFrontend/bin/AnperoFrontend.dll.config
AnperoFrontend/bin/AnperoFrontend.dll
AnperoFrontend/bin/Anpero.dll
.vs/config/applicationhost.config
AnperoFrontend/obj/
AnperoFrontend/bin/Anpero.pdb
AnperoFrontend/bin/
HR_Service_Frontend_01/obj/
HR_Service_Frontend_01/bin/Anpero.dll
Shop_02_Onepage/bin/
Shop_01_multiProduct/bin/
Shop_01_multiProduct/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Shop_02_Onepage/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Shop_01_multiProduct/obj/Debug/AnperoFrontend.dll
Shop_02_Onepage/obj/
HR_Service_Frontend_01/bin/
Shop_01_multiProduct/obj/
Shop_03_multiProduct/bin/
Shop_03_multiProduct/obj/Debug/
BDS_04_BatDongSan_MultiLand/bin/
BDS_04_BatDongSan_MultiLand/obj/
