include ../blurb/_blurb

// About us 2
section.section-double
	section.section-double-top.section-md.bg-100
		.container
			.row.row-30
				.col-md-4
					+blurb-icon-left({
						iconClass: 'thin-icon-ambulance',
						title: 'Free Shipping Worldwide',
						text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.'
					})
				.col-md-4
					+blurb-icon-left({
						iconClass: 'thin-icon-documents',
						title: 'Money Back Guarantee',
						text: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.'
					})
				.col-md-4
					+blurb-icon-left({
						iconClass: 'thin-icon-support',
						title: 'Qualified Team of Consultants',
						text: 'Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos.'
					})

	section.section-double-bottom.section-md.bg-transparent
		.container
			+img( 'about-01-1170x386' ).img-single.rounded-sm
			h2 Popular Categories
			.row.row-30
				.col-sm-6.col-lg-3
					ul.list.list-divided.h4
						li.list-item: a.link.link-arrow( href='shop.html' ) Makeup & Cosmetics
						li.list-item: a.link.link-arrow( href='shop.html' ) Perfumes
						li.list-item: a.link.link-arrow( href='shop.html' ) Lip Care
				.col-sm-6.col-lg-3
					ul.list.list-divided.h4
						li.list-item: a.link.link-arrow( href='shop.html' ) Skincare
						li.list-item: a.link.link-arrow( href='shop.html' ) Body Care
						li.list-item: a.link.link-arrow( href='shop.html' ) Face Care
				.col-sm-6.col-lg-3
					ul.list.list-divided.h4
						li.list-item: a.link.link-arrow( href='shop.html' ) Hand Care
						li.list-item: a.link.link-arrow( href='shop.html' ) Moisturizers
						li.list-item: a.link.link-arrow( href='shop.html' ) Toners
				.col-sm-6.col-lg-3
					ul.list.list-divided.h4
						li.list-item: a.link.link-arrow( href='shop.html' ) Serums
						li.list-item: a.link.link-arrow( href='shop.html' ) Nail Care
						li.list-item: a.link.link-arrow( href='shop.html' ) Hair Care
