// About us
section.section-md.bg-transparent
	.container
		h2.heading-decoration.heading-decoration-mod-1 Launched in 2008, today Pure aims to deliver high-quality yet affordable Korean beauty products for women all over the world.
		.row.row-25.row-xl-55
			.col-md-6.col-lg-8
				p.big Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.aliqua.
			.col-md-6.col-lg-4
				p.big Vix velit moderatius ex, mutat albucius menandri eum in, nominati perpetua repudiare ei per. Vis amet consetetur eloquentiam et, iisque elaboraret ius ex.
