include ../post/_post
include ../quote/_quote

// Blog post
section.section-md.bg-transparent
	.container
		.row.row-40.justify-content-xxl-between
			.col-md-8
				.blog-post
					.blog-post-item
						+img( 'blog-post-01-769x431' )
						h3 The History of Waterless Beauty
						.post-meta.list.list-inline-divided.text-style-btn
							.list-item
								.post-tags: a.post-tag( href='#' ) News
							.list-item
								a.post-date( href='#' ) April 10, 2020
							.list-item
								a.post-comments( href='#' ) 0 comments
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor.
						p Vix velit moderatius ex, mutat albucius menandri eum in, nominati perpetua repudiare ei per. Vis amet consetetur eloquentiam et, iisque elaboraret ius ex, quod putent mei ne. Usu in integre nusquam fierent. Dicunt salutandi et sea, doming ancillae no eos. Ne duo deleniti theophrastus. Recusabo complectitur conclusionemque ad qui, per in noluisse definiebas.
						+img( 'blog-post-02-769x431' )
						h3 How to Choose the Suitable Waterless Product
						p Natum admodum sententiae in sit, te duis veri vitae duo, euripidis reprehendunt pri in. Mea ut dolorum rationibus, pro lorem graece te, sed no elitr libris expetenda.
						+quote-default-light({
							quote:  'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod ut enim ad minim veniam sed.',
							author: 'John Doe, Client'
						}).quote-default-light
						.row.row-15
							.col-sm-6
								+img( 'blog-post-03-349x358' )
							.col-sm-6
								h3 What We Can Offer
								p Ex mea esse harum, his ne esse electram. Duo no officiis intellegam, cum nulla.
								p Ut enim ad minim veniam sed do eiusmod tempor. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod tempor.
								.row.row-5.row-content.row-gutters-5
									.col-lg-6
										ul.list.list-marked
											li.list-item Professionalism
											li.list-item Customer Service
											li.list-item Innovation
									.col-lg-6
										ul.list.list-marked
											li.list-item Ethics
											li.list-item Management
						.divider
						.row.row-15.justify-content-between.align-items-center
							.col-sm-6
								.group-10
									a.tag.tag-outline( href='#' ) News
									a.tag.tag-outline( href='#' ) Tips
									a.tag.tag-outline( href='#' ) Makeup

							.col-sm-6
								.group-10.d-flex.align-items-center.justify-content-sm-end
									span Share post:
									a.icon.icon-md.icon-link.icon-link-gray.mdi-facebook( href='#' )
									a.icon.icon-md.icon-link.icon-link-gray.mdi-linkedin( href='#' )
									a.icon.icon-md.icon-link.icon-link-gray.mdi-twitter( href='#' )

					.blog-post-item
						h3 Related Posts
						.row.row-20.row-content
							.col-xs-11.col-sm-6
								+post-line({
									img:   'blog-post-04-368x228',
									tag:   'News',
									title: 'Top 5 Korean Skincare Products: Our Choice',
									date:  'November 12, 2020'
								})
							.col-xs-11.col-sm-6
								+post-line({
									img:   'blog-post-05-368x228',
									tag:   'News',
									title: 'Six Face Washing Mistakes You Might Be Making',
									date:  'November 12, 2020'
								})

					.blog-post-item
						h3 Leave a Comment
						form.rd-form
							.row.row-15.row-gutters-15
								.col-sm-6
									.form-group
										input.form-control( type='text', name='name', placeholder='Your Name*', data-constraints='@Required' )
								.col-sm-6
									.form-group
										input.form-control( type='email', name='email', placeholder='Your E-mail*', data-constraints='@Email @Required' )
								.col-12
									.form-group
										textarea.form-control( name='comment', placeholder='Message' )
								.col-12
									button.btn( type='submit' ) Submit

			.col-md-4.col-xl-3
				include ../widget/_blog-sidebar-widgets
