include ../blurb/_blurb

// Blurb icon left
section.section-md.bg-transparent
	.container
		h2.text-divider.text-divider-large Style #1
		.row.row-30
			.col-md-4
				+blurb-icon-left({
					iconClass: 'linearicons-library',
					title: 'Providing Quality Services & Support',
					text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.'
				})
			.col-md-4
				+blurb-icon-left({
					iconClass: 'linearicons-library2',
					title: 'Qualified Team of Seasoned Experts',
					text: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.'
				})
			.col-md-4
				+blurb-icon-left({
					iconClass: 'linearicons-shield-check',
					title: 'Outstanding 24/7 Customer Service',
					text: 'Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos.'
				})
