// Call to action
section.section-xxl.bg-transparent.text-center.bg-image.context-dark( style='background-image: url( images/home-02-1920x625.jpg )' )
	.container
		.row.justify-content-center
			.col-md-10.col-lg-9
				h2.h3 Find Your Beauty Match
				h3.h2 Free Shipping Worldwide
				a.btn( href='shop.html' ) Shop Now
