include ../person/_person

// Our team
section.section-md.bg-white
	.container
		.row.row-30
			.col-sm-6.col-lg-4
				+person-boxed({
					img: 'popular-category-01-370x302',
					author: 'Makeup & Cosmetics',
					description: 'Create a little illusion with Korean makeup cosmetics.',
					position: '250+ Products'
				})
			.col-sm-6.col-lg-4
				+person-boxed({
					img: 'popular-category-02-370x302',
					author: 'Perfumes',
					description: 'Check out our range of captivating fragrances.',
					position: '297+ Products'
				})
			.col-sm-6.col-lg-4
				+person-boxed({
					img: 'popular-category-03-370x302',
					author: 'Skincare',
					description: 'A unique selection of skincare cosmetics by famous brands.',
					position: '340+ Products'
				})
			.col-sm-6.col-lg-4
				+person-boxed({
					img: 'popular-category-04-370x302',
					author: 'Lip Care',
					description: 'High-quality beauty care products for your lips.',
					position: '315+ Products'
				})
			.col-sm-6.col-lg-4
				+person-boxed({
					img: 'popular-category-05-370x302',
					author: 'Body Care',
					description: 'Make your body shine with our series of body care products.',
					position: '245+ Products'
				})
			.col-sm-6.col-lg-4
				+person-boxed({
					img: 'popular-category-06-370x302',
					author: 'Face Care',
					description: 'The best products to keep your face clean and fresh.',
					position: '350+ Products'
				})
