include ../product/_product

// About uss
section.section-md.bg-100
	.container
		.text-center
			h2.heading-decoration Featured Products
		.row.row-40.row-xl-55
			.col-xs-6.col-lg-4.col-xl-3
				+product-simple({
					img:   'product/product-01-141x195.png',
					title: 'Crystal BB Cream',
					price: '35.00'
				})
			.col-xs-6.col-lg-4.col-xl-3
				+product-simple({
					img:   'product/product-02-181x159.png',
					title: 'Eye Cream',
					price: '32.00'
				})
			.col-xs-6.col-lg-4.col-xl-3
				+product-simple({
					img:   'product/product-03-127x218.png',
					title: 'Cleansing Gel',
					price: '25.00'
				})
			.col-xs-6.col-lg-4.col-xl-3
				+product-simple({
					img:   'product/product-04-108x215.png',
					title: 'Power Tonic',
					price: '37.00'
				})
			.col-xs-6.col-lg-4.col-xl-3
				+product-simple({
					img:   'product/product-05-195x115.png',
					title: 'Resurfacing Mask',
					price: '27.00'
				})
			.col-xs-6.col-lg-4.col-xl-3
				+product-simple({
					img:   'product/product-06-67x206.png',
					title: 'Refining Serum',
					price: '29.00'
				})
			.col-xs-6.col-lg-4.col-xl-3
				+product-simple({
					img:   'product/product-07-189x109.png',
					title: 'Foaming Cleanser',
					price: '38.00'
				})
			.col-xs-6.col-lg-4.col-xl-3
				+product-simple({
					img:   'product/product-08-68x194.png',
					title: 'Botanical Pore Toner',
					price: '30.00'
				})
