include ../blurb/_blurb

// Intro dotted
section.intro.bg-image( style='background-image: url( images/home-01-1920x1003.jpg )' )
	.container
		.col-lg-6.col-md-8.col-sm-10
			.pr-xl-5
				h1 The Futre of Cosmetic
				p.lead Take your pick of the best and newest Korean makeup brands and skin care products.
				+img( 'intro-logo-863x487.svg' ).intro-logo
