// Typography lists
section.section-md.bg-transparent
	.container
		h2 Ordered & Unordered Lists
		.row.row-15.row-content
			.col-lg-3
				ul.list.list-marked
					li.list-item High Professionalism
					li.list-item Customer Service
					li.list-item Innovation
					li.list-item Ethics
					li.list-item Management
			.col-lg-3
				ol.list.list-ordered
					li.list-item High Professionalism
					li.list-item Customer Service
					li.list-item Innovation
					li.list-item Ethics
					li.list-item Management
