include ../quote/_quote

// Typography quote
section.section-md.bg-transparent
	.container
		h2 Blockquote
		.row.row-content
			.col-xl-10
				+quote-default({
					quote: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. sed do eiusmod tempor incididunt ut labore.',
					author: 'Edward Gray, Managing partner'
				})
