// Typography type
section.section-md.bg-transparent
	.container
		.row.row-30.align-items-start
			.col-sm-6.col-xl-7.col-xxl-7
				h2.text-divider Headings
				h1 H1. Heading
				h2 H2. Heading
				h3 H3. Heading
				h4 H4. Heading
				h5 H5. Heading
				h6 H6. Heading
			.col-sm-6.col-xl-5.col-xxl-5
				.template-info
					.template-info-title Fonts
					.template-info-fonts
						.template-info-fonts-secondary Cantata One
						.template-info-fonts-base Spartan
					.template-info-title Colors
					.template-info-colors
						.template-info-color.template-info-color-primary
						.template-info-color.template-info-color-primary-light
						.template-info-color.template-info-color-900
						.template-info-color.template-info-color-800
						.template-info-color.template-info-color-700
						.template-info-color.template-info-color-400
						.template-info-color.template-info-color-100
