@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

// Modifiers
.section-one-screen {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


// Sections spacing
.section-xs {
	padding: 40px 0;
}

.section-transparent + .section-transparent {
	padding-top: 0;
}

.section-sm,
.section-md,
.section-lg,
.section-xxl {
	padding: 50px 0;
}

.section-double-2 {
	.section-double-top {
		padding-bottom: 0;
	}

	.section-double-bottom {
		margin-top: -20px;
	}
}


// Media
@include media-breakpoint-up( lg ) {
	.section-md {
		padding: 60px 0;
	}

	.section-md {
		padding: 70px 0;
	}

	.section-lg,
	.section-xxl {
		padding: 80px 0;
	}

	.section-double {
		.section-double-top {
			padding-bottom: 100px;
		}

		.section-double-bottom {
			margin-top: -40px;
			padding-top: 0;
		}
	}

	.section-double-2 {
		.section-double-bottom {
			margin-top: -65px;
			padding-top: 130px;
		}
	}

	.section-creative {
		.section-creative-top,
		.section-creative-quote,
		.section-creative-list,
		.section-creative-bottom,
		.section-creative-front {
			position: relative;
		}

		.section-creative-front {
			z-index: 2;
		}

		.section-creative-top {
			padding-bottom: 100px;
		}

		.section-creative-quote {
			z-index: 2;
			padding-bottom: 0;
		}

		.section-creative-list {
			z-index: 1;
			padding-top: 160px;
			margin-top: -90px;
			padding-bottom: 200px;
		}

		.section-creative-bottom {
			margin-top: -110px;
			padding-top: 0;
		}
	}
}

@include media-breakpoint-up( xl ) {
	.section-xs {
		padding: 75px 0;
	}

	.section-sm {
		padding: 90px 0;
	}

	.section-md {
		padding: 120px 0;

		&-top-65 {
			padding-top: 65px;
		}
	}

	.section-lg {
		padding: 146px 0;
	}

	.section-xxl {
		padding: 150px 0;
	}

	.section-double {
		.section-double-top {
			padding-bottom: 180px;
		}

		.section-double-bottom {
			margin-top: -80px;
		}
	}

	.section-creative {
		.section-creative-list {
			padding-bottom: 280px;
		}

		.section-creative-bottom {
			margin-top: -200px;
		}
	}
}

@include media-breakpoint-up( xxl ) {
	.section-xxl {
		padding: 205px 0 213px;
	}
}
