extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
include ../components/page-title/_page-title

block variables
	- pageName = 'Cart';

block page
	+rd-navbar

	include ../components/section/_cart
	include ../components/footer/_footer-subscribe
