@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/custom-forms";
@import "../bootstrap/scss/forms";
@import "../bootstrap/scss/input-group";

// Base style
label {
	font-size: $label-font-size;
	cursor: pointer;
}

textarea {
	min-height: 145px;
}

.form-group {
	position: relative;
	text-align: left;
	margin-bottom: 0;
}

.form-control {
	text-overflow: ellipsis;
	background-clip: border-box;
}

.form-control-inline {
	display: inline-block;
	text-align: center;
	width: auto;
}

.form-group + .form-group {
	margin-top: 12px;
}

.input-group {
	> .form-control,
	> .form-control-plaintext,
	> .custom-select,
	> .custom-file {
		height: auto;
	}
}

@include media-breakpoint-up(md) {
	.form-group + .form-group {
		margin-top: 22px;
	}
}


// Reset mozila validation styles
:invalid {
	box-shadow: none;
}

:-moz-submit-invalid {
	box-shadow: none;
}

:-moz-ui-invalid {
	box-shadow: none;
}


// Disabled form group
.form-group-disabled {
	pointer-events: none;

	.form-control {
		background-color: $input-disabled-bg;

		&::placeholder {
			opacity: .3;
		}
	}

	label {
		opacity: .3;
	}

	.input-group-text {
		&:before {
			opacity: .3;
		}
	}
}

// Form Group Icon
.form-group-icon {
	position: relative;
	width: 100%;

	.form-control {
		padding-right: 50px;
	}
}

// Form Icon
.form-icon,
.form-group-icon-btn {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	font-size: px-to-rem(27px);
	color: $gray-400;
	pointer-events: none;
}

.form-group-icon-btn {
	transition: $transition-base;
	pointer-events: auto;

	&:hover {
		color: $primary;
	}
}


// Input group
.input-group-text {
	position: relative;
	z-index: 1;

	&:after {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		height: 80%;
		transform: translateY(-50%);
		width: $input-border-width;
		background-color: $input-border-color;
	}

	&-nodivider {
		&:after {
			display: none;
		}
	}
}


// Contexts
.bg-100 {
	.form-control,
	.input-group-text {
		background: $gray-100;
	}
}

.form-inline {
	flex-flow: column;

	.btn {
		margin-top: 0;
	}

	@include media-breakpoint-up(xs) {
		flex-flow: row;

		.form-control {
			border-right: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		.btn {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

.form-inline-group {
	position: relative;
	display: flex;
	flex-grow: 1;

	> * {
		flex-grow: 1;
	}
}

.form-control {
	letter-spacing: .03em;
}
