@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


// Base
.image {

}

.image-sm {
	max-width: 300px;
}

@include media-breakpoint-up( sm ) {
	.image-sm {
		max-width: 100%;
	}
}
