@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/custom-forms";
@import "../bootstrap/scss/forms";
@import "../bootstrap/scss/input-group";

// Base
.intro {
	padding: 120px 0;

	@include media-breakpoint-up(md) {
		padding: 180px 0;
	}

	@include media-breakpoint-up(xl) {
		padding: 250px 0;
	}

	@include media-breakpoint-up(xxl) {
		padding: 333px 0 338px;
	}
}

.intro-logo {
	pointer-events: none;
	margin: 0;
	top: -6.5vw;
	left: -9.7vw;
	position: absolute;
	max-width: 44.948vw;
}
