@using AnperoFrontend.WebService;
<div id="thm-mart-slideshow" class="thm-mart-slideshow">
    <div class="container">
        <div id='thm_slider_wrapper' class='thm_slider_wrapper fullwidthbanner-container'>
            <div id='thm-rev-slider' class='rev_slider fullwidthabanner'>
                <ul>
                    @if (ViewData["slide"] != null)
                    {
                        Ads[] slide = (Ads[])ViewData["slide"];
                        if (slide.Length > 0)
                        {
                            <li data-transition='random' data-slotamount='7' data-masterspeed='2500'>
                                <iframe width="100%" height="650" src="https://www.youtube.com/embed/RjbkXfsrBCY?autoplay=1" frameborder="0" allowfullscreen></iframe>
                                <div  class="info">
                                <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='0' data-y='150' data-endspeed='500' data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2;max-width:auto;max-height:auto;white-space:nowrap;'><span>sacduphong.shop</span></div>
<div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='0' data-y='320' data-endspeed='500' data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3;max-width:auto;max-height:auto;white-space:nowrap;'><span>Pin Sạc Tốt nhất</span></div>
<div class='tp-caption sfb  tp-resizeme ' data-x='0' data-y='550' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'><a href='/hoa-qua-sach-c73' class="buy-btn">Mua ngay</a></div>
<div class='tp-caption Title sft  tp-resizeme ' data-x='0' data-y='450' data-endspeed='500' data-speed='500' data-start='1500' data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4;max-width:auto;max-height:auto;white-space:nowrap;'>Công nghệ tiên tiến nhất</div></div>

                           
                            </li>

                            foreach (var item in slide)
                            {

<li data-transition='random' data-slotamount='7' data-masterspeed='200' data-thumb='@item.ImagesUrl'>
                                    <img src='@item.ImagesUrl' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="@item.ClickUrl" />
                                    <div class="info">
                                        @Html.Raw(item.Description)                                        
                                    </div>
                                </li>
                            }
                        }
                    }
           
                </ul>
            </div>
        </div>
    </div>
</div>
