@{
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];      
    }

} 
<section class="contact-area section-padding section-relative" id="contact">
    <div class="section-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="page-title">
                    <h2>Đăng ký và liên hệ</h2>                 
                    <p>Hotline : @commonInfo.HotLine </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          
                    <input type="text" class="form-control" id="name"  placeholder="Tên *" required>
                    <input  class="form-control" id="email" placeholder="Email">
                    <input type="text" class="form-control" id="phone" placeholder="Số điện thoại *" required>
                    <input type="text" class="form-control" id="address" placeholder="Địa chỉ *" required>                
                    <textarea class="form-control" rows="6" id="message" placeholder="Để lại lời nhắn" required></textarea>
                    <div class="form-selector mbt15">
                        <div id="g-recaptcha"></div>
                    </div>
                    <div class="text-center">
                        <button   class="battn" id="btn-send-contact" >Gửi thông tin</button>
                    </div>
              
            </div>
        </div>
    </div>
</section>