

.main-header .header-search-box .form-inline .form-category {
    float: right;
    margin-right: 40px;
    border-left: 1px solid #6089dc;
    height: 41px;
    background-color:#00a4e0;
    color: #1d292d;
}

.main-header .header-search-box .form-inline .btn-search{
	color: #fff;
	font-size: 16px;
	background-color:white;
}
.main-header .header-search-box .form-inline {
    border: none;
    color: #fff;
    display: inline-block;
    min-width: 520px;
    background-color: #00a4e0;
}
#left_column .block .title_block {
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #eaeaea;
    padding-left: 28px;
    text-transform: uppercase;
    padding-top: 11px;
    padding-bottom: 12px;
    background-color: #00a4e0;
    color: white;
    margin: 0;
}
.nav-top-menu.nav-ontop {
    background: #00a4e0;
}
#main-menu .navbar, .top-header {
    background: #00a4e0;
}

.header {
    background-image: none;
    background-size: cover;
    background-position: left top;
    background-color:#00c9e0;
}
.main-header .header-search-box .form-inline .btn-search {
    background-color: rgb(53, 84, 148);
}
#footer {
    background: rgb(0, 164, 224) !important;
}
.adrct {
    border-bottom: 1px solid #0fc8c8;
}
.option6 .nav-top-menu {
    background: #00a4e0
}
.header {
    background-color: white;    
}
.service .service-item h3, .service .info span, .page-heading span.page-heading-title {
    color: #1e80b5;
}
.option6 .page-heading span.page-heading-title {
    border-bottom: 3px solid #1e80b5;
}
@media (max-width: 480px) {
    .option6 #main-menu .navbar-header {
        background: #00a4e0;
    }
}
