@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../base/mixins";


// Base
.address {
	padding: px-to-rem( 20px, 15px );
	background-color: $gray-100;
	border: 1px solid $border-color;
	border-radius: 3px;

	table {
		width: 100%;
	}

	td {
		padding-bottom: px-to-rem( 9px );
		vertical-align: baseline;
	}
}

.address-title {
	width: 70px;
	color: $primary;
}


// Spacing
* + .address { margin-top: px-to-rem( 20px ) }


// Media
@include media-breakpoint-up( lg ) {
	.address {
		padding: px-to-rem( 29px, 24px, 21px );
	}

	* + .address { margin-top: px-to-rem( 38px ) }
}
