// Page styles
html:not(.components-ready) * {
	transition: 0s;
}

.page {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	opacity: 0;

	&.page-revealed {
		opacity: 1;
	}

	.rd-navbar-fixed-linked & {
		padding-left: 0;
	}
}


// Page transitions
html .page {
	transition: opacity .25s;
}

html.components-ready .page {
	transition: opacity .25s, padding .2s ease-in-out;
}
