// Variables

$gray-100: #F3FCFE;
$gray-200: #E3E3E3;
$gray-300: #E5E5E5;
$gray-400: #CFCFCF;
$gray-600: #8D8D8D;
$gray-700: #515151;
$gray-800: #2F3340;
$gray-900: #272B37;
$white:    #fff;

$primary:       #019CA9;
$primary-dark:  darken( $primary, 5% );
$primary-light: lighten( $primary, 5% );

$secondary:       #F68D8D;
$secondary-light: #FEEEEF;

$context-light: rgba( $white, .6 );

// Gradients
$gradient-gray-1: linear-gradient( 180deg, rgba( $gray-800, 0 ) 0%, rgba( $gray-800, 0.34 ) 100% );

// Body
$body-color: $gray-700;

// Fonts
$font-family-base:      'Spartan', sans-serif;
$font-family-secondary: 'Cantata One', serif;
$font-size-base: px-to-rem( 16px );
$font-size-lg:   px-to-rem( 18px );
$font-size-sm:   px-to-rem( 13px );
$line-height-base: 1.67;
$line-height-lg:   1.7;
$line-height-sm:   1.15;

$lead-font-size: px-to-rem( 26px );
$lead-font-weight: 400;

$h1-font-size: px-to-rem( 80px );
$h2-font-size: px-to-rem( 40px );
$h3-font-size: px-to-rem( 26px );
$h4-font-size: px-to-rem( 21px );
$h5-font-size: px-to-rem( 18px );
$h6-font-size: px-to-rem( 16px );

$h1-line-height: px-to-rem( 93px );
$h2-line-height: px-to-rem( 52px );
$h3-line-height: px-to-rem( 43px );
$h4-line-height: px-to-rem( 35px );
$h5-line-height: px-to-rem( 28px );
$h6-line-height: px-to-rem( 27px );

$headings-font-weight: 400;
$headings-color: $gray-900;

$list-inline-padding: px-to-rem( 16px );

$mark-bg: $primary;

$link-hover-color: $primary-light;

// Components
$border-color: $gray-400;
$border-width: 1px;

$border-radius:    px-to-rem( 30px );
$border-radius-sm: px-to-rem( 20px );

$box-shadow-sm: 0px 7px 20px rgba( $gray-900, 0.15 );
$box-shadow: 0 10px 30px rgba( $gray-900, 0.15 );
$box-shadow-md: 0px 20px 30px rgba( $gray-900, 0.25 );
$box-shadow-lg: 0px 20px 30px rgba( $gray-900, 0.8 );

$box-shadow-1: 0 20px 30px rgba( $gray-900, 0.15 );

// Grid breakpoints
$grid-breakpoints: (
	xxs: 0,
	xs: 480px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1600px
);

// Grid containers
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1200px
);

$container-wide-max-width: 1790px;

// Buttons + Forms
$input-btn-padding-y: px-to-rem( 13px );
$input-btn-padding-x: px-to-rem( 20px );
$input-btn-font-size: $font-size-base;
$input-btn-line-height: $line-height-base;

// Buttons
$btn-box-shadow: none;
$btn-font-size: $font-size-base;
$btn-font-weight: 500;
$btn-line-height: 1.1;
$btn-padding-y: px-to-rem( 18px );
$btn-padding-x: px-to-rem( 34px );

// Forms
$label-font-size: $font-size-base;

$input-padding-y: $input-btn-padding-y;
$input-padding-x: $input-btn-padding-x;
$input-font-size: $font-size-base;
$input-line-height: 1.69;
$input-font-weight: 400;
$input-border-width: $border-width;

$input-bg: $gray-100;
$input-disabled-bg: rgba( $gray-100, .8 );
$input-border-color: $border-color;

$input-focus-bg: $white;
$input-focus-color: $gray-900;
$input-focus-border-color: $input-border-color;
$input-focus-box-shadow: 0 0 0 1px $input-focus-border-color;

$input-color: $body-color;
$input-placeholder-color: $input-color;

$input-height-border: $input-border-width * 2;
$input-height: #{$input-font-size * $input-line-height + $input-padding-y * 2 + px-to-rem($input-height-border)};

$input-group-addon-color: $input-focus-color;
$input-group-addon-bg: $input-bg;

$form-group-margin-bottom: 0;

// Z-index master list
$zindex-dropdown:       10;
$zindex-sticky:         11;
$zindex-popover:        12;
$zindex-tooltip:        13;
$zindex-fixed:          14;
$zindex-modal-backdrop: 15;
$zindex-modal:          16;
