#fl-nav-menu {
    height: auto !important;
    background-color: #004d51 !important;
    background-image: none !important;
}
#nav > li {
    border-right: 1px #16191f ridge !important;
    background-image: none !important;
}
a.button, button.button {
    background: #004d51;
    color: white;
}
a.button {
    background-color: #f5f5f5;
}
.regular-price .price {
     color: #004d51;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: none;
    background: none repeat scroll 0 0 #004d51;
    color: #fff;
}
.related-pro .new_title h2 {
    color: #fff;
    background: #004d51; 
}
    .related-pro .new_title h2:after {
        content: "";
        height: 1px;
        width: 1px;
        border-style: solid;
        border-width: 5px;
        position: absolute;
        bottom: -10px;
        left: 0;
        border-color: #004d51 #004d51 transparent transparent;
    }
.search-input {
    border: 1px solid #004d51;
}
.navbar-form .search-btn {
    color: #fff;
    background: #004d51;
}
    .navbar-form .search-btn .glyphicon-search:before {
        font-size: 17px;
        color: #fff;
        vertical-align: middle;
    }