//- Logo
mixin logo
	// Logo
	.logo&attributes( attributes )
		a.logo-link( href= 'index.html' )
			+img( logo.default ).logo-image-default( alt= logo.name )
			+img( logo.inverse ).logo-image-inverse( alt= logo.name )

//- Logo navbar
mixin logo-navbar
	.navbar-logo&attributes( attributes )
		a.navbar-logo-link( href= 'index.html' )
			+img( logo.default ).navbar-logo-default( alt= logo.name )
			+img( logo.inverse ).navbar-logo-inverse( alt= logo.name )
