<div class="container">
    <div class="row iconlist">

        <div class="box-icon">
            <i class="gokko-icon icon-play" style="font-size:35px;"></i>
            <div>gokko-icon icon-play</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-phone3"></i>
            <div>gokko-icon icon-phone3</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-truck"></i>
            <div>gokko-icon icon-truck</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-phone2"></i>
            <div>gokko-icon icon-phone2</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-delete"></i>
            <div>gokko-icon icon-delete</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-clock"></i>
            <div>gokko-icon icon-clock</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-camera"></i>
            <div>gokko-icon icon-camera</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-clothes"></i>
            <div>gokko-icon icon-clothes</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-user2"></i>
            <div>gokko-icon icon-user2</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-wifi"></i>
            <div>gokko-icon icon-wifi</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-garden2"></i>
            <div>gokko-icon icon-garden2</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-sheet2"></i>
            <div>gokko-icon icon-sheet2</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-meat"></i>
            <div>gokko-icon icon-meat</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-cpu"></i>
            <div>gokko-icon icon-cpu</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-paper-plane"></i>
            <div>gokko-icon icon-paper-plane</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-lamp"></i>
            <div>gokko-icon icon-lamp</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-money2"></i>
            <div>gokko-icon icon-money2</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-camera2"></i>
            <div>gokko-icon icon-camera2</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-garden"></i>
            <div>gokko-icon icon-garden</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-payment"></i>
            <div>gokko-icon icon-payment</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-vegatables"></i>
            <div>gokko-icon icon-vegatables</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-envelope3"></i>
            <div>gokko-icon icon-envelope3</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-phone4"></i>
            <div>gokko-icon icon-phone4</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-phone4"></i>
            <div>gokko-icon icon-phone4</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-batery"></i>
            <div>gokko-icon icon-batery</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-share"></i>
            <div>gokko-icon icon-share</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-refresh"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-speaker"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-weight"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-usb"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-rocket"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-download"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-envelope"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-laptop"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-search"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-tree"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-butter"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-location"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-headphone"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-gift"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-berries"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-sheet"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-fasfood"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-onion"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-truck2"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-user3"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-heart"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-fish"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-money"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-accessories"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-envelope2"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-seeds"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-location2"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-wifi2"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-phone"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-user"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-game"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-play2"></i>
            <div>gokko-icon icon-refresh</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-user"></i>
            <div>gokko-icon icon-basket</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-shoe"></i>
            <div>gokko-icon icon-basket</div>
        </div>
        <div class="box-icon">
            <i class="gokko-icon icon-nut"></i>
            <div>gokko-icon icon-basket</div>
        </div>
    </div>
</div>
<style>
    .iconlist i{font-size:35px;}
    .iconlist .box-icon{
        float:left;
        width:30%;
        margin-bottom:15px;
    }
</style>