.navbar-aside.navbar-cart
	.navbar-cart-item
		.navbar-cart-item-left.thumbnail
			a.thumbnail-small( href='single-product.html' )
				+img( 'product/thumbnail-product-01-72x91.png' )
		.navbar-cart-item-body
			a.navbar-cart-item-heading( href='single-product.html' ) Face Cleansing Gel
			.navbar-cart-item-price.d-flex.group-10.justify-content-between
				div
					='3 x '
					span.navbar-cart-item-price-value $25.00
				button.navbar-cart-remove.mdi-delete
	.navbar-cart-total Subtotal: $75.00
	a.btn.btn-sm.navbar-cart-btn( href='checkout.html' ) Checkout
