
@{
    ViewBag.Title = "Tạo đơn Hàng";
    AnperoFrontend.WebService.Webconfig commonInfo = new AnperoFrontend.WebService.Webconfig();
    if (ViewData["commonInfo"] != null)
    {
        commonInfo = (AnperoFrontend.WebService.Webconfig)ViewData["commonInfo"];
        ViewBag.WebsiteUrl = HttpContext.Current.Request.Url.AbsoluteUri;
        ViewBag.Keywords = Anpero.StringHelpper.UnicodeToKoDau(commonInfo.Desc);
    }
    <link href="/assets/css/NganLuongBankList.css" rel="stylesheet" />
}
<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="#" title="Return to Home">Home</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">Tạo đơn hàng</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- page heading-->
        <h2 class="page-heading">
            <span class="page-heading-title2">Tạo đơn hàng</span>
        </h2>
        <!-- ../page heading-->
        <div class="page-content checkout-page" id="cartContent1">
            <h3 class="checkout-sep">1. Thông tin nhận hàng</h3>
            <div class="box-border">
                <ul>
                    <li class="row">

                        <div class="col-sm-12">
                            <label for="first_name_1" class="required">Họ tên (*)</label>
                            <input class="input form-control" type="text" name="" id="cName">
                        </div>

                    </li>
                    <li class="row">
                        <div class="col-sm-6">
                            <label for="company_name_1">Số điện thoại (*)</label>
                            <input class="input form-control" type="text" name="" id="cPhone">
                        </div>
                        <div class="col-sm-6">
                            <label for="company_name_1">Email</label>
                            <input class="input form-control" type="text" name="" id="cMail">
                        </div>
                        <div class="col-sm-12">
                            <label for="email_address_1" class="required">Địa chỉ (*)</label>
                            <textarea class="input form-control" name="" id="cAddress"></textarea>

                        </div>
                        <div class="col-sm-12">
                            <label for="email_address_1" class="required">Bạn có muốn ghi chú gì cho đơn hàng này không ?</label>
                            <textarea class="input form-control" name="" id="detail"></textarea>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3 class="checkout-sep">2. Phương thức vận chuyển</h3>
                <div class="box-border">
                    <ul class="shipping_method">
                        <li style="display:none;">
                            <label for="radio_button_3"><input type="radio" checked name="radio_3" id="radio_button_3" value="0" data-ship="0">Vận chuyển miễn phí nội thành</label>
                        </li>

                        <li>
                            <label for="radio_button_4"><input type="radio" name="radio_3" id="radio_button_4" value="2" data-ship="25000"> Vận chuyển thường 25.000đ / sản phẩm</label>
                        </li>
                        <li>

                            <label for="radio_button_5"><input type="radio" name="radio_3" id="radio_button_5" value="1" data-ship="35000"> Vận chuyển nhanh 35.000đ/ sản phẩm</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="checkout-sep">3. Phương thức thanh toán</h3>
                <div class="box-border">
                    <ul class="shipping_method">
                        <li class="lb2">
                            <p class="subcaption bold">Tại showroom</p>
                            <label for="radio_button_41"><input type="radio" checked name="radio_4" id="radio_button_41" value="0" data-ship="0">Thanh toán tại Showroom</label>
                        </li>
                        <li class="lb2">
                            <label for="radio_button_51"><input type="radio" name="radio_4" id="radio_button_51" value="4" data-ship="0"> Chuyển khoản 0đ</label>
                        </li>
                        <li class="lb2">
                            <label for="radio_button_6"><input type="radio" name="radio_4" id="radio_button_6" value="1" data-ship="15000"> Thu tiền tại nhà 15.000 đ</label>
                        </li>
                        @if (ViewBag.PaymentType == "NL")
                        {
                            <li>
                                <label for="radio_button_8" id="lb1"><input type="radio" name="radio_4" id="radio_button_8" value="2" payment-code="ATM_ONLINE" data-ship="0"> Thanh toán online bằng thẻ ngân hàng nội địa </label>
                                <ul class="cardList form-list clearfix" style="display:none;">
                                    <li class="bank-online-methods ">
                                        <label for="vcb_ck_on">
                                            <i class="VCB" title="Ngân hàng TMCP Ngoại Thương Việt Nam"></i>
                                            <input type="radio" name="bankcode" id="vcb_ck_on" value="VCB">
                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="vnbc_ck_on">
                                            <i class="DAB" title="Ngân hàng Đông Á"></i>
                                            <input type="radio" name="bankcode" id="vnbc_ck_on" value="DAB">
                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="tcb_ck_on">
                                            <i class="TCB" title="Ngân hàng Kỹ Thương"></i>
                                            <input type="radio" name="bankcode" id="tcb_ck_on" value="TCB">
                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="sml_atm_mb_ck_on">
                                            <i class="MB" title="Ngân hàng Quân Đội"></i>
                                            <input type="radio" name="bankcode" id="sml_atm_mb_ck_on" value="MB">
                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="shb_ck_on">
                                            <i class="SHB" title="Ngân hàng Sài Gòn - Hà Nội"></i>
                                            <input type="radio" name="bankcode" id="shb_ck_on" value="SHB">
                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="sml_atm_vib_ck_on">
                                            <i class="VIB" title="Ngân hàng Quốc tế"></i>
                                            <input type="radio" name="bankcode" id="sml_atm_vib_ck_on" value="VIB">
                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="sml_atm_vtb_ck_on">
                                            <i class="ICB" title="Ngân hàng Công Thương Việt Nam"></i>
                                            <input type="radio" name="bankcode" id="sml_atm_vtb_ck_on" value="ICB">
                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="sml_atm_exb_ck_on">
                                            <i class="EXB" title="Ngân hàng Xuất Nhập Khẩu"></i>
                                            <input type="radio" name="bankcode" id="sml_atm_exb_ck_on" value="EXB">
                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="sml_atm_acb_ck_on">
                                            <i class="ACB" title="Ngân hàng Á Châu"></i>
                                            <input type="radio" name="bankcode" id="sml_atm_acb_ck_on" value="ACB">
                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="sml_atm_hdb_ck_on">
                                            <i class="HDB" title="Ngân hàng Phát triển Nhà TPHCM"></i>
                                            <input type="radio" name="bankcode" id="sml_atm_hdb_ck_on" value="HDB">
                                        </label>
                                    </li>
                                    <li class="bank-online-methods ">
                                        <label for="sml_atm_msb_ck_on">
                                            <i class="MSB" title="Ngân hàng Hàng Hải"></i>
                                            <input type="radio" name="bankcode" id="sml_atm_msb_ck_on" value="MSB">
                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="sml_atm_nvb_ck_on">
                                            <i class="NVB" title="Ngân hàng Nam Việt"></i>
                                            <input type="radio" name="bankcode" id="sml_atm_nvb_ck_on" value="NVB">
                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="sml_atm_vab_ck_on">
                                            <i class="VAB" title="Ngân hàng Việt Á"></i>
                                            <input type="radio" name="bankcode" id="sml_atm_vab_ck_on" value="VAB">
                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="sml_atm_vpb_ck_on">
                                            <i class="VPB" title="Ngân Hàng Việt Nam Thịnh Vượng"></i>
                                            <input type="radio" name="bankcode" id="sml_atm_vpb_ck_on" value="VPB">
                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="sml_atm_scb_ck_on">
                                            <i class="SCB" title="Ngân hàng Sài Gòn Thương tín"></i>
                                            <input type="radio" name="bankcode" id="sml_atm_scb_ck_on" value="SCB">
                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="ojb_ck_on">
                                            <i class="OJB" title="Ngân hàng Đại Dương"></i>
                                            <input type="radio" name="bankcode" id="ojb_ck_on" value="OJB">
                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="bnt_atm_pgb_ck_on">
                                            <i class="PGB" title="Ngân hàng Xăng dầu Petrolimex"></i>
                                            <input type="radio" name="bankcode" id="bnt_atm_pgb_ck_on" value="PGB">

                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="bnt_atm_gpb_ck_on">
                                            <i class="GPB" title="Ngân hàng TMCP Dầu khí Toàn Cầu"></i>
                                            <input type="radio" name="bankcode" id="bnt_atm_gpb_ck_on" value="GPB">
                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="bnt_atm_agb_ck_on">
                                            <i class="AGB" title="Ngân hàng Nông nghiệp &amp; Phát triển nông thôn"></i>
                                            <input type="radio" name="bankcode" id="bnt_atm_agb_ck_on" value="AGB">

                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="bnt_atm_sgb_ck_on">
                                            <i class="SGB" title="Ngân hàng Sài Gòn Công Thương"></i>
                                            <input type="radio" name="bankcode" id="bnt_atm_sgb_ck_on" value="SGB">
                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="bnt_atm_nab_ck_on">
                                            <i class="NAB" title="Ngân hàng Nam Á"></i>
                                            <input type="radio" name="bankcode" id="bnt_atm_nab_ck_on" value="NAB">
                                        </label>
                                    </li>

                                    <li class="bank-online-methods ">
                                        <label for="sml_atm_bab_ck_on">
                                            <i class="BAB" title="Ngân hàng Bắc Á"></i>
                                            <input type="radio" name="bankcode" id="sml_atm_bab_ck_on" value="BAB">
                                        </label>
                                    </li>

                                </ul>
                            </li>
                        }


                    </ul>
                </div>
            </div>
            <h3 class="checkout-sep">4. Kiểm tra lại thông tin sản phẩm</h3>
            <div class="box-border">
                <table class="table table-bordered table-responsive cart_summary">
                    <thead>
                        <tr>
                            <th class="cart_product">Ảnh</th>
                            <th>Thông tin</th>
                            <th>Tình trạng.</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Tổng</th>
                            <th class="action"><i class="fa fa-trash-o"></i></th>
                        </tr>
                    </thead>
                    <tbody id="prCatCtTable"></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2" rowspan="2"></td>
                            <td colspan="3">Tổng giá sản phẩm </td>
                            <td colspan="2" id="ttPrCt"></td>
                        </tr>
                        <tr>
                            <td colspan="3"><strong>Tổng đơn hàng (bao gồm ship)</strong></td>
                            <td colspan="2"><strong id="ttOdCt"></strong></td>
                        </tr>
                    </tfoot>
                </table>
                <div class="col-md-12">
                    <div id="g-recaptcha" class="pull-right"></div>
                </div>
                <button class="button pull-right" id="orderBtn">Xác nhận đặt hàng</button>
                <a class="button pull-right" href="/">Mua thêm</a>
            </div>
        </div>
        <div class="page-content checkout-page" id="cartContent2" style="display:none;"></div>
        <div id='ajax_loader' style="position: fixed; left: 45%; top: 50%; display: none;">
            <img src="http://cdn.anpero.com/images/38/102017/loading2017102517124312.gif" />
        </div>
    </div>
</div>

@section scripts{

    <script src="https://www.google.com/recaptcha/api.js?onload=renderCapcha&render=explicit"></script>
    <script>
        var googleCatcha;
        $(document).ready(function () {
            var width = $(window).width();
            $("#ajax_loader").css("left", ((width / 2) - 100) + "px")
            Cart.bindCartTable();
            $("input[name=radio_3]").click(function () {
                Cart.bindCartTable();
            });
            $("input[name=radio_4]").click(function () {
                Cart.bindCartTable();
            });
            $("#orderBtn").click(function () {
                Cart.sendOrder();
            });
            $("#lb1").click(function () {
                $(".cardList").show();
            });
            $(".lb2").click(function () {
                $(".cardList").hide();
            });
            
        });
        function renderCapch() {
            googleCatcha = grecaptcha.render('g-recaptcha', {
                'sitekey': googleCapchaSitekey,
                'theme': 'light',
                'hl': 'vi'
            });
        }
    </script>
}
