@font-face {
  font-family: 'Gokko-Icon';
  font-display: auto;
  src: local('Gokko-Icon'), url('fonts/Gokko-Icon05fa.woff?v4h9kt') format('woff');
  src:  url('fonts/Gokko-Icon05fa.eot?v4h9kt');
  src:  url('fonts/Gokko-Icon05fa.eot?v4h9kt#iefix') format('embedded-opentype'),
  url('fonts/Gokko-Icon05fa.ttf?v4h9kt') format('truetype'),
  url('fonts/Gokko-Icon05fa.woff?v4h9kt') format('woff'),
  url('fonts/Gokko-Icon05fa.svg?v4h9kt#Gokko-Icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.gokko-icon{
  font-family: 'Gokko-Icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e900";
}
.icon-phone3:before {
  content: "\e901";
}
.icon-truck:before {
  content: "\e902";
}
.icon-phone2:before {
  content: "\e903";
}
.icon-delete:before {
  content: "\e904";
}
.icon-clock:before {
  content: "\e905";
}
.icon-camera:before {
  content: "\e906";
}
.icon-clothes:before {
  content: "\e907";
}
.icon-user2:before {
  content: "\e908";
}
.icon-wifi:before {
  content: "\e909";
}
.icon-garden2:before {
  content: "\e90a";
}
.icon-sheet2:before {
  content: "\e90b";
}
.icon-meat:before {
  content: "\e90c";
}
.icon-cpu:before {
  content: "\e90d";
}
.icon-paper-plane:before {
  content: "\e90e";
}
.icon-lamp:before {
  content: "\e90f";
}
.icon-money2:before {
  content: "\e910";
}
.icon-camera2:before {
  content: "\e911";
}
.icon-garden:before {
  content: "\e912";
}
.icon-payment:before {
  content: "\e913";
}
.icon-vegatables:before {
  content: "\e914";
}
.icon-envelope3:before {
  content: "\e915";
}
.icon-phone4:before {
  content: "\e916";
}
.icon-batery:before {
  content: "\e917";
}
.icon-share:before {
  content: "\e918";
}
.icon-refresh:before {
  content: "\e919";
}
.icon-speaker:before {
  content: "\e91a";
}
.icon-weight:before {
  content: "\e91b";
}
.icon-usb:before {
  content: "\e91c";
}
.icon-rocket:before {
  content: "\e91d";
}
.icon-download:before {
  content: "\e91e";
}
.icon-envelope:before {
  content: "\e91f";
}
.icon-laptop:before {
  content: "\e920";
}
.icon-search:before {
  content: "\e921";
}
.icon-tree:before {
  content: "\e922";
}
.icon-butter:before {
  content: "\e923";
}
.icon-location:before {
  content: "\e924";
}
.icon-headphone:before {
  content: "\e925";
}
.icon-gift:before {
  content: "\e926";
}
.icon-berries:before {
  content: "\e927";
}
.icon-sheet:before {
  content: "\e928";
}
.icon-fasfood:before {
  content: "\e929";
}
.icon-onion:before {
  content: "\e92a";
}
.icon-truck2:before {
  content: "\e92b";
}
.icon-user3:before {
  content: "\e92c";
}
.icon-heart:before {
  content: "\e92d";
}
.icon-fish:before {
  content: "\e92e";
}
.icon-money:before {
  content: "\e92f";
}
.icon-accessories:before {
  content: "\e930";
}
.icon-envelope2:before {
  content: "\e931";
}
.icon-seeds:before {
  content: "\e932";
}
.icon-location2:before {
  content: "\e933";
}
.icon-wifi2:before {
  content: "\e934";
}
.icon-phone:before {
  content: "\e935";
}
.icon-user:before {
  content: "\e936";
}
.icon-game:before {
  content: "\e937";
}
.icon-play2:before {
  content: "\e938";
}
.icon-basket:before {
  content: "\e939";
}
.icon-shoe:before {
  content: "\e93a";
}
.icon-nut:before {
  content: "\e93b";
}
