@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


// Base
.google-map {
	height: 250px;
	width: 100%;

	img {
		margin-top: 0;
		vertical-align: top;
	}
}


// Media
@include media-breakpoint-up( lg ) {
	.google-map {
		height: 390px;
	}
}
