// Variables
$quote-cite-color: $primary;
$quote-icon-color: $primary;


// Base
.section-quote-large {
	padding: 60px 0;

	@include media-breakpoint-up(md) {
		padding: 80px 0 120px;
	}

	@include media-breakpoint-up(xl) {
		padding: 100px 0 180px;
	}
}

.quote-large {
	position: relative;

	.quote-icon-face,
	.quote-icon-shadow {
		position: absolute;
		width: 50px;
		height: auto;
		fill: none;
		stroke-width: 5px;
	}

	.quote-cite {
		margin-left: px-to-rem(18px);
		color: $primary;
	}

	.quote-icon-face {
		stroke: rgba($quote-icon-color, .6);
	}

	.quote-icon-shadow {
		stroke: $quote-icon-color;
	}

	.quote-body {
		padding: px-to-rem(30px, 15px, 0);

		@include media-breakpoint-up(md) {
			padding: px-to-rem(60px, 70px, 0);
		}

		@include media-breakpoint-up(lg) {
			padding: px-to-rem(80px, 100px, 0, 200px);
		}
	}

	* + .quote-person {
		margin-top: px-to-rem(30px);

		@include media-breakpoint-up(xl) {
			margin-top: px-to-rem(44px);
		}
	}
}


// Context dark
.context-dark {
	.quote-large {
		color: $context-light;

		.quote-text {
			color: inherit;
		}

		.quote-icon-face {
			stroke: rgba($white, .3);
		}

		.quote-icon-shadow {
			stroke: rgba($white, .1);
		}
	}
}

// Media
@include media-breakpoint-up(md) {
	.quote-large {
		.quote-icon-face,
		.quote-icon-shadow {
			width: 100px;
			stroke-width: 2px;
		}

		.quote-icon-face {
			left: px-to-rem(15px);
		}
	}
}

@include media-breakpoint-up(lg) {
	.quote-large {
		.quote-icon-face,
		.quote-icon-shadow {
			width: 266px;
			stroke-width: 1px;
		}
	}
}
