.divgachxannh {
    border: 1px #74c9dd solid;
    height: 5px;
    background-color: #74c9dd;
    margin-top:30px;
}
.gach-xanh {
    margin-top: 30px;
    margin-bottom: 30px;
}

#tbcntt {
    border: 1px black solid;
}

#btcntt {
  margin-top: 3%;
  border-right: 1px black solid;
  width:1px;
}

#member-area {
  background-color: rgb(41,41,41);
  color: #fff;
}
.member-row{
  justify-content:center; 
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
}
.member{
  flex: 0 0 15%;
  max-width: 15%;
  margin-right: 5%;
  margin-left: 5%;
}
.member img{
  width: 100%;
  margin-top: 20%;
  margin-bottom: 10%;
}
.member h5{
  font-family: 'Playfair Display';
  font-weight: bold;
}
.member p{
  font-size: 0.8rem;
}
.btc-ntd{
  justify-content:center; 
  display: flex;
  flex-wrap: wrap;
  margin-right: 15%;
  margin-left: 15%;
}
.btc-ntd .item{
  flex: 0 0 33.33333%;
  width: 33.33333%;
}
.btc-ntd .item img{
  width: 100%;
}
.member-img-content{
    margin-right:10%;
    margin-left:10%;
}
.d-xl-flex .col-md-3 .lazy img{
    width:62%;
}
.d-xl-flex .col-md-3 h4, .member-img-content .col-md-3 h4 {
    font-family: PlayfairBold;
    font-size: 19px;
}
.d-xl-flex .col-md-3 h6, .member-img-content .col-md-3 h6 {
    font-size: 15px;
}

.member-img-content .col-md-3 {
    padding: 0 0 120px 0;
}
    .member-img-content .col-md-3 img {
        border-radius: 50%;
        width: 80%;
        padding: 0 18% 0 18%;
    }
