include ../logo/_logo
include ../rights/_rights

// Footer contact
footer.footer-contact.context-dark.bg-900.text-center
	.container
		.footer-row
			+logo.footer-logo
		.footer-row
			ul.footer-menu
				li: a( href='about.html' ) About
				li: a( href='practice.html' ) Practice
				li: a( href='lawyers.html' ) Our experts
				li: a( href='contact-us.html' ) Contact us
				li: a( href='our-cases.html' ) Cases
		.footer-row
			h4 Call us 24\7
			a.link.link-large( href='tel:#' ) 800.567.1234
			ul.social.social-bordered.footer-social
				li: a.social-icon.icon.icon-md.mdi-youtube-play( href='#' )
				li: a.social-icon.icon.icon-md.mdi-linkedin( href='#' )
				li: a.social-icon.icon.icon-md.mdi-twitter( href='#' )
		.footer-row
			.h6 355 S Grand Ave, Los Angeles, CA 90071
			+rights
