<div id="shopify-section-footer" class="shopify-section">


    <footer style="background: #f6f6f6;">
        <div class="footer_row__1">
            <div class="container">

                <div class="row footer_main">

                    <div class="col-sm-3 footer_block footer_block__2_1">

                        <div class="footer_item footer_item__about ">
                            <h3>About our company</h3>




                            <div class="about_text"><p>Our company advocates the postulate that the health is the biggest value in our lives. The point is that science and nature are easily combined in products that we are glad to offer you today. Our goal is to help you stay healthy as well as gorgeous at the same time. Soon you&rsquo;ll discover how it is possible to use organic cosmetics for your body. </p></div>

                        </div>

                    </div>

                    <div class="col-sm-3 footer_block ">

                        <div class="footer_item footer_item__links ">
                            <h3>Categories</h3>

                            <ul>

                                <li>
                                    <a href="collections/frontpage.html">Eyes</a>
                                </li>

                                <li>
                                    <a href="collections/face.html">Face</a>
                                </li>

                                <li>
                                    <a href="collections/hair.html">Hair</a>
                                </li>

                                <li>
                                    <a href="collections/nails.html">Nails</a>
                                </li>

                                <li>
                                    <a href="collections/sale.html">Sale</a>
                                </li>

                                <li>
                                    <a href="collections/tools-accessories.html">Tools & Accessories</a>
                                </li>

                            </ul>
                        </div>


                    </div>

                    <div class="col-sm-3 footer_block footer_block__2_1">

                        <div class="footer_item footer_item__links ">
                            <h3>Information</h3>

                            <ul>

                                <li>
                                    <a href="pages/about-us.html">About us</a>
                                </li>

                                <li>
                                    <a href="collections/all.html">Catalog</a>
                                </li>

                                <li>
                                    <a href="pages/contact-us.html">Contact us</a>
                                </li>

                                <li>
                                    <a href="collections.html">Collections</a>
                                </li>

                                <li>
                                    <a href="pages/password-page.html">Password</a>
                                </li>

                                <li>
                                    <a href="pages/privacy-policy.html">Privacy Policy</a>
                                </li>

                                <li>
                                    <a href="blogs/news.html">Blog</a>
                                </li>

                            </ul>
                        </div>


                    </div>

                    <div class="col-sm-3 footer_block ">

                        <div class="footer_item footer_item__links ">
                            <h3>My Account</h3>

                            <ul>

                                <li>
                                    <a href="account/login.html">My Account</a>
                                </li>

                                <li>
                                    <a href="account/login.html">Log in</a>
                                </li>

                                <li>
                                    <a href="account/login.html">My Addresses</a>
                                </li>

                                <li>
                                    <a href="account/login.html">My Orders</a>
                                </li>

                                <li>
                                    <a href="pages/password-page.html">Password</a>
                                </li>

                                <li>
                                    <a href="pages/contact-us.html">Contact us</a>
                                </li>

                                <li>
                                    <a href="blogs/news.html">Latest News</a>
                                </li>

                            </ul>
                        </div>


                    </div>


                </div>

            </div>

        </div>




        <div class="footer_row__2  bottom_inverted" style="background: #acdbb4;">
            <div class="container">
                <div class="footer_wrap_1">


                    <div class="footer_wrap_2 footer_center">
                        ©Skin beauty. <a target="_blank" rel="nofollow" href="https://www.shopify.com/?utm_campaign=poweredby&amp;utm_medium=shopify&amp;utm_source=onlinestore">Powered by Shopify</a>
                    </div>




                </div>
            </div>
        </div>

    </footer>


    <style>
        #shopify-section-footer footer {
            padding-top: 0px;
        }
    </style>





</div>