.widget
	h4.widget-title Categories
	.widget-body
		ul.list.list-divided.list-divided-sm.big
			li.list-item: a.link.link-arrow( href='#' ) Makeup
			li.list-item: a.link.link-arrow( href='#' ) Face Care
			li.list-item: a.link.link-arrow( href='#' ) Skincare
			li.list-item: a.link.link-arrow( href='#' ) Other
