.widget
	h4.widget-title Popular Products
	.widget-body
		+product-small({
			img:      'product/thumbnail-product-01-72x91.png',
			title:    'Face Cleansing Gel',
			price:    '25'
		})
		+product-small({
			img:      'product/thumbnail-product-02-72x91.png',
			title:    'Resurfacing Mask',
			price:    '27'
		})
