.widget
	h4.widget-title Recent post
	.widget-body
		+post-small({
			img:      'recent-post-01-72x72',
			title:    'Top 10 K-Beauty Products',
			date:     'May 10, 2020'
		})
		+post-small({
			img:      'recent-post-02-72x72',
			title:    'Taking Care of Dyed Hair',
			date:     'May 10, 2020'
		})
