.widget
	h4.widget-title Tags
	.widget-body
		.group-10
			a.tag.tag-outline( href='#' ) News
			a.tag.tag-outline( href='#' ) Blog
			a.tag.tag-outline( href='#' ) Makeup
			a.tag.tag-outline( href='#' ) Perfumes
			a.tag.tag-outline( href='#' ) Tips
