@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";


// Variables
$widget-title-color: $primary;


// Base
.widget-title {
	color: $widget-title-color;
}

.widget-body {
	position: relative;
}


// Spacing
* + .widget-body { margin-top: 15px; }

.widget + .widget {
	margin-top: px-to-rem( 35px );
}


// Context dark
.context-dark {
	.widget-title {
		color: $widget-title-color;
	}
}


// Media
@include media-breakpoint-up( xxl ) {
	* + .widget-body { margin-top: 20px; }

	.widget + .widget {
		margin-top: px-to-rem( 44px );
	}
}
